<div class="d-flex fs-2">
    <div class="my-auto">
        <img class="iconSwitch" src="./icons/dashboardCourse.svg" alt="loginIcon"> Dashboard
    </div>
</div>


<div class="row mt-4">
    <div class="col-md-4 col-12 mb-5">
        <div class="card glassEffect">
            <div class="card-header glassEffect">Upload EEG Data</div>
            <div class="card-body">
                <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
        </div>
    </div>


</div>