<div class="card col-12 col-md-4 glassEffect my-auto mx-auto">
    <div class="card-header glassEffect">
        <img src="/icons/key.svg" alt="loginIcon">Reset password
    </div>
    <div class="card-body">
        <form id="resetpassword">
            <div class="form-floating mb-3">
                <input class="form-control" type="password" id="password" name="password" placeholder="" required><br>
                <label for="password">Password:</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="password" id="passwordconf" name="passwordconf" placeholder=""
                    required>
                <label for="passwordconf">Confirm password:</label>
            </div>

            <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
            <button class="btn btn-info" type="submit" id="submit" value="Set Password">Set Password</button>
        </form>
    </div>
    <div id="error">{{error}}</div>
</div>

<script>
    $(document).ready(function () {
        function sidebarToggle() {
            $('#sidebar').toggleClass('active');
            $('#content').toggleClass('active');
        }
        sidebarToggle();
    });
</script>